:root{
    /* Colores de la tienda (diseños basados en 3 colores complementarios) */
    
    --color1: hsl(11, 80%, 60%);
    --color1Light: hsl(11, 80%, 65%);
    --color1Dark: hsl(11, 80%, 40%);
  
    --color2: hsl(46, 100%, 50%);
    --color2Light: hsl(46, 100%, 75%);
    --color2Dark: hsl(46, 100%, 45%);
  
    --color3: hsl(96, 75%, 65%);
    --color3Light: hsl(96, 75%, 75%);
    --color3Dark: hsl(96, 75%, 55%);
  
    /* Fuentes de la tienda */ 
  
    font-family:sans-serif; /* Fuente 1 por defecto */ 
    --clearFont:'verdana'; /* Fuente que se deje leer */ 
    --FancyFont:'sans-serif'; /* Fuente Artistica */ 
  }
  